#main-nutrition {
  padding: 5rem;
  display: flex;
  text-align: left;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: start;
  align-items: center;
  height: calc(100vh - 75px);
  background-image: url('../../images/nutrition-bg.gif');
}

#main-nutrition .mask {
  border-radius: 1rem;
  padding: 30px;
}

#main-nutrition .main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#main-nutrition #main-title {
  font-family: 'Jost', sans-serif;
  font-weight: 700; 
  font-size: 64px;
  color: #fff;
  margin-bottom: 30px;
}

#main-nutrition #main-title-2 {
  color: #D2B48C;
  font-size: 64px;
}

#main-nutrition #main-subtitle {
  font-family: 'Jost', sans-serif;
  color: #fff;
  margin-bottom: 30px;
}

#main-nutrition .btn {
  color: #D2B48C;
  border-color: #D2B48C;
  padding: 10px 20px;
  font-size: 20px;
}
#main-nutrition .btn:hover {
  color: #4F4032;
  background-color: #D2B48C;
  border-color: #D2B48C;
  padding: 10px 20px;
  font-size: 20px;
}

#content-nutrition .content {
  padding: 50px;
  background-color: #4F4032;
}

#content-nutrition .content h2 {
  font-weight: bold;
  color: #D2B48C;
  padding-left: 20px;
  padding-top: 20px;
  font-family: 'Jost', sans-serif;
}

#content-nutrition .content p {
  text-align: justify;
  color: #fff;
  padding: 20px;
  font-size: 20px;
}

#content-nutrition .content img {
  max-width: 100%;
  max-height: auto;
  padding-left: 20px;
  padding-right: 20px;
}

#content-nutrition .content-2 {
  padding: 50px;
  background-color: #fff;
}

#content-nutrition .content-2 h2 {
  font-weight: bold;
  color: #D2B48C;
  padding-left: 20px;
  padding-top: 20px;
  font-family: 'Jost', sans-serif;
}

#content-nutrition .content-2 p {
  text-align: justify;
  color: #4F4032;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
}

#content-nutrition .content-2 img {
  max-width: 100%;
  max-height: auto;
  padding-left: 20px;
  padding-right: 20px;
}

#card-carousel {
  background-color: #D2B48C;
  padding: 30px;
}

#card-carousel #card-topic {
  color: #4F4032;
  font-family: 'Jost', sans-serif;
  font-weight: 500;
  font-size: 48px;
  text-align: center;
  padding-top: 30px;
}

#card-carousel #card-subtopic {
  color: #fff;
  font-family: 'Jost', sans-serif;
  font-weight: 300;
  font-size: 25px;
  text-align: center;
  padding-bottom: 30px;
}

#card-carousel .card {
  border: 0;
}

#card-carousel .container {
  padding: 30px;
}

#card-carousel .card-body {
  padding: 20px;
}

#card-carousel .btn:hover {
  color: #FFFFFF; 
  background-color: #635144; 
}

#card-carousel .btn {
  color: #FFFFFF; 
  background-color: #4F4032; 
}

@media (max-width: 992px) {

}
  
@media (max-width: 768px) {
    
}
  
@media (min-width: 1024px) {

}
  
@media (max-height: 500px) {

}